.App {
	min-height: 100vh;
}
/* Componenent Candidate */
.candidate {
	background-color: rgb(128, 128, 128);
}

.candidate h1,
.candidate h4 {
	color: bisque;
	font-weight: bold;
	text-transform: uppercase;
}

.candidate h3,
.candidate ul {
	color: white;
}
.candidate h2 {
	color: aliceblue;
}

.candidate hr {
	background: bisque;
	height: 0.2rem;
}

.stackSkills img:hover,
.contactMe img:hover {
	background: rgb(230, 249, 250);
}
/* ProfessionnalElement */
.titlePro {
	background: bisque;
}
